
@{
    ViewData["Title"] = "Restaurant";
}
<body>

<div>
     <img src="/img/logo.jpg" alt="logo" class="logo">
</div>

    <section>
        <div class="container reveal">
            <br />
            <a name="About_Rest"></a>
                <h2>About Restaurant</h2>
                <br />

                <div class="row">
                    <div class="col-sm">
                        <p class="p-intro"><strong>Welcome</strong></p>
                        <p class="p-text">
                            SuperPuper Restaurant is one of the oldest Ukrainian restaurant in Kharkiv center, which offers traditional
                            Ukrainian specialties which you can enjoyed in the pleasant air conditioned ambience.
                        </p>
                        <p class="p-text">
                            SuperPuper restaurant has a capacity of 123 seats and 35-40 seats in the summer garden.
                        </p>
                        <p class="p-text">
                            We hope that your visit to our restaurants will be one of your pleasant experiences, and that you will come back. Our team is looking forvard to your visit.
                        </p>
                        <p class="p-text">
                            <strong>
                                For the booking options to lunch or dinner for tourist group don’t hesitate to contact us.
                            </strong>
                        </p>
                    </div>
                    <div class="col-sm">
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/13/36/25/0c/restaurant-appearance.jpg" alt="Restaurant Apperance" />
                    </div>
                </div>
            
        </div>
        <br />
    </section>

    <section>

            <div class="container reveal">
            <h2>Benefits</h2>

            <br/>
                <div class="row">
                    <div class="col-sm align-self-center">
                        <img src="/img/benefits/cards.webp" alt="cards">
                    </div>
                    <div class="col-sm align-self-center">
                        <img src="/img/benefits/free.webp" alt="free">
                    </div>
                    <div class="col-sm align-self-center">
                        <img src="/img/benefits/percent.webp" alt="percent">
                    </div>
                    <div class="col-sm align-self-center">
                        <img src="/img/benefits/phone.webp" alt="phone">
                    </div>
                    <div class="col-sm align-self-center">
                        <img src="/img/benefits/truck.webp" alt="truck">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm" align="center">
                        <p class="p-text">
                            Earn 5X total points on flights and 10X total points on hotels and car rentals
                            when you purchase using bank card
                        </p>
                    </div>
                    <div class="col-sm">
                        <p class="p-text">
                            Get free dishes for sharing your opinion abou our restaurant in your social medias (facebook, instagram, google maps)
                        </p>
                    </div>
                    <div class="col-sm">
                        <p class="p-text">
                            Use coupons to get discount for our deserts
                        </p>
                    </div>
                    <div class="col-sm">
                        <p class="p-text">
                            Download Our App to earn Rewards, get offers or customize orders                       
                        </p>
                    </div>
                    <div class="col-sm">
                        <p class="p-text">
                            Find your nearest SP restaurant or order online direct to your door.
                            Can't visit us? Order delivery and we'll bring dishes to you
                        </p>
                    </div>
                </div>
            </div>           
    </section>
    <section>
        <div class="container reveal">
            <a name="Contacts"></a>
            <h2 class="text-center">Contacts</h2>
            <br /><br />
            <div class="left_block">
                <iframe style="float:right;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d929.0973796319826!2d36.23296573208671!3d49.99375188183575!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0d90523f8d7%3A0xe741ce5e7c5d5d2!2z0J_RgNC-0LHQutCw!5e0!3m2!1sru!2sua!4v1647881273573!5m2!1sru!2sua" width="700" height="280" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="right_block" align="center">
                <p class="p-intro">Kharkiv</p> <br />
                <p class="p-text">Sumska street, 7/9</p>
                <p class="p-text">San - Sat</p>
                <p class="p-text">10:00 - 24:00</p>
                <p class="p-text">067 261 93 39</p>
            </div>
        </div>
    </section>

    <br /><br /><br /><br /><br />
 </body>
