@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This project is made for education purposes in NIX .Net Trainee (External) course</p>

<img src="https://web.kpi.kharkov.ua/asu/wp-content/uploads/sites/109/2019/02/nix_logo_500x500-1.jpg" alt="Nix solutions" />
