html {
    font-size: 16px;
    margin-bottom: 60px;
    
}

body {
  margin-bottom: 60px;
}

.logo{
    width:100%;
}

.table-margin{
    margin-left:10%;
    margin-right:10%;
}

table {
    border: 3px solid grey;
    text-align:center;
}

.p-intro {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-align: center;
}

.p-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.apply-button {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border-radius: 10px;
    padding: 5px 40px;
    background: white;
}
.apply-button:hover{
    background: #FFB107;


}