.card-columns {
    column-count: 3;
}

.btn {
    padding: 5px 40px;
    font-size: 20px;
    border-radius: 10px;
}

img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  
  img:hover {
    transform: scale(1.3);
    transition: transform 1s;
  }
